<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
  <h3>Bienvenidos</h3>


<ion-content>
<p>Esta plataforma esta dedicada a la gestion administrativa de inventario, productos, clientes, pedidos, cartera y contabilidad de la empresa, con el fin de llevar un debido proceso y fortalecer organizacionalmente la institucion.</p><br>
<p>En el menu lateral de la izquierda, podra observar cada uno de los modulos a los que tendra acceso y podra usar dependiendo de su necesidad.</p><br>
<p>Recuerde que podra acceder a esta plataforma desde cualquier dispositivo desde el que tenga conexion a internet y un navegador web actualizado, la manera en que se visualizara la plataforma dependera desde el tipo de dispositivo en el que ingrese. </p><br>
<p>Cabe resaltar que la informacion que se muestra en la plataforma es altamente sensible y que su uso ilegal puede incursionar en problemas legales, por lo que debe abstenerse de uso indebido  o relacionado a intereses.</p>

</ion-content>

